# Python Fundamentals

## Python as a calculator

This is my first jupyter notebook

In [2]:
2+3

5

In [3]:
15*4

60

In [4]:
# ** is a exponent operator
3**4

81

In [5]:
# Double // provides a quotient 
8//3

2

In [6]:
# Modulo operator provides a reminder
54%5

4

In [8]:
"Hello"*9

'HelloHelloHelloHelloHelloHelloHelloHelloHello'

#### Why ‚ÄúHello‚Äù*5 works, but ‚ÄúHello‚Äù +5 doesn‚Äôt?

In [9]:
"Hello"+5

TypeError: can only concatenate str (not "int") to str

## Data Types
<ul>
<li> Integer (int)</li>
<li> Floating point (float) - real number </li>
<li> String </li>
<li> ... many more </li>
</ul>

### Know the Data Type using type()

In [10]:
type(2)

int

In [11]:
type(3.5)

float

In [12]:
type(2+2)

int

In [13]:
type(4+4.5)

float

In [14]:
type("Sriram")

str

## Variable and assignments

In [15]:
myname = 'Sriram'
myname

'Sriram'

### Rules on Variable Names

Which of the following are valid variable names
<ul>
    <li>My_Name</li>
    <li>MyName</li>
    <li>_you_are_awsome</li>
    <li>1_love_my_class </li>
    <li>total_$ </li>
    <li>Your-Name</li>
 </ul>

### Practice on Assignments

In [16]:
x = 10
y = 15
x = x + 15
y = x + y +10
z = x + y

In [17]:
z

75

In [18]:
x

25

## Print statement

In [19]:
print("Hello World!")

Hello World!

In [20]:
print("I can type whatever I want")

I can type whatever I want

In [21]:
print("Sriram Somanchi"

SyntaxError: unexpected EOF while parsing (<ipython-input-21-68a30ed0ab75>, line 1)

Think why the following statement doesn't work

In [22]:
x = 'Sriram'
print(x+42)

TypeError: can only concatenate str (not "int") to str

## Commenting the Code

Code commenting is done through '#'. Anything that follows after that will not be executed

In [24]:
x = 'Sriram'
#print(x+42)
# I'm trying to print the value of x
print(x)

Sriram

## Input Statement

In [1]:
input()

Sriram

'Sriram'

In [28]:
myname = input()

Mark

In [29]:
myname

'Mark'

## Your First Program

Ask the name of the user and greet the user with a welcome message

For example, if the user says the name is ‚ÄòSriram‚Äô, then the output should read 
‚ÄòWelcome to Notre Dame, Sriram‚Äô

In [6]:
# Ask the name of the user
print("What is your name?")

# Take the input and save it in a variable
name = input()

# Print the personalized message
print("Welcome to Notre Dame, " + name)

What is your name?
Sriram
Welcome to Notre Dame, Sriram

## Fancy Print Statement

In [10]:
x = 42
print(f"The value of x is {x}")

The value of x is 42

In [11]:
x = 42
y = 10
print(f"The value of x plus y is {x+y}")

The value of x plus y is 52

In [7]:
song = "Because I am happy Clap along if you feel like a room without a roof"
print(f"Pharrell Williams sang '{song}'!")

Pharrell Williams sang 'Because I am happy Clap along if you feel like a room without a roof'!

In [13]:
x = 42
print("The value of x is {}".format(x))

The value of x is 42

In [12]:
song = "Because I am happy Clap along if you feel like a room without a roof"
print("Pharrell Williams sang '{}'!".format(song))

Pharrell Williams sang 'Because I am happy Clap along if you feel like a room without a roof'!

## Fancy Input Statements

In [17]:
name = input("What is your name? ")

What is your name? Sriram

In [15]:
name

'Sriram'

## Modified First Program

Use fancy print and fancy input statements this time. 

Ask the name of the user and greet them a fancy welcome message

For example, if the user says the name is ‚ÄòSriram‚Äô, then the output should read 
‚ÄòHey! Sriram! Welcome to Notre Dame‚Äô

In [19]:
# Ask the user for inputting their name, and save it in a variable
name = input("What is your name? ")

# Use formating to print personalized message

print(f"Hey! {name}! Welcome to Notre Dame")

What is your name? Sriram
Hey! Sriram! Welcome to Notre Dame

## Converting between Data Types

In [ ]:
number = input("input a number")

In [ ]:
number

Though you have entered a number it is stored as a string. This is because the input() function always gives it as a string. 

You can convert to a integer by the int function.

In [ ]:
number = int(number)

In [ ]:
number

Now, observe that the type of the number is changed from str to int.

### Know the data type of a variable using type()

In [ ]:
number = input("Input a number")

In [ ]:
type(number)

In [ ]:
number = int(number)

In [ ]:
type(number)

### Errors between conversions

In [ ]:
int("Sriram")

## Practice Exercise #1

Write a program to ask the length and width of a rectangle and print the area of a rectangle. 

Try to use fancy input and print statements to format your inputs and outputs with all information.

## Practice Exercise #2

During an aerobic workout, you should maintain your training heart rate. Your training heart rate is computed as:
.7 √ó (220 ‚àíùëé)+.3 √ó ùëü

Write a program to ask the person‚Äôs age (ùëé) and the resting heart rate (ùëü) and outputs the training heart rate.

## Practice Exercise #3

Write a program to ask the row number and column number in the class to provide the computer. 

The computers are arranged follows in the classroom 


| Row/ Column | Column 0 | Column 1  | Column 2  | Column 3  | Column 4  | Column 5  | Column 6  | Column 7  | Column 8  |
|-------------|----------|----|----|----|----|----|----|----|----|
| Row 0       | 0        | 1  | 2  | 3  | 4  | 5  | 6  | 7  | 8  |
| Row 1       | 9        | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 |
| Row 2       | 18       | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 |
| Row 3       | 27       | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 |
| Row 4       | 36       | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 |

## Practice Exercise # 4

Write a program to ask the computer number and output the row and column number

The computers are arranged follows in the classroom 


| Row/ Column | Column 0 | Column 1  | Column 2  | Column 3  | Column 4  | Column 5  | Column 6  | Column 7  | Column 8  |
|-------------|----------|----|----|----|----|----|----|----|----|
| Row 0       | 0        | 1  | 2  | 3  | 4  | 5  | 6  | 7  | 8  |
| Row 1       | 9        | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 |
| Row 2       | 18       | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 |
| Row 3       | 27       | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 |
| Row 4       | 36       | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 |

Hint: Use % (modulo or reminder) operator

## Practice Exercise #5

Write a program in Python to prompt the user for an initial deposit amount and calculate the balance after 3 years when the amount is deposited in a savings account at 5% interest compounded annually.

For example, the balance of a 100 deposit after 3 years at 5% interest is 115.76!