# Python Fundamentals

## Converting Data Types

In [1]:
number = '45'
type(number)

str

In [2]:
number + 2

TypeError: can only concatenate str (not "int") to str

In [3]:
number = int(number)

In [4]:
type(number)

int

In [5]:
number + 40

85

In [6]:
number = int('23')

In [7]:
number = input("Enter a number ")
#number = float(number)
type(number)

Enter a number 56

str

In [8]:
number + 6

TypeError: can only concatenate str (not "int") to str

In [9]:
number = float(number)
type(number)

float

In [10]:
number + 10

66.0

### Execution Bug (Divide by zero)

In [11]:
x = 15
y = 10
x = x - y - 5
z = y/x

ZeroDivisionError: division by zero

## Practice Exercise #4

Write a program to ask the computer number and output the row and column number

The computers are arranged follows in the classroom 


| Row/ Column | Column 0 | Column 1  | Column 2  | Column 3  | Column 4  | Column 5  | Column 6  | Column 7  | Column 8  |
|-------------|----------|----|----|----|----|----|----|----|----|
| Row 0       | 0        | 1  | 2  | 3  | 4  | 5  | 6  | 7  | 8  |
| Row 1       | 9        | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 |
| Row 2       | 18       | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 |
| Row 3       | 27       | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 |
| Row 4       | 36       | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 |

Hint: Use % (modulo or reminder) operator

In [20]:
# Step 1: Accept the input and convert to integer
comp_num = input("Enter a computer number: ")
#type(comp_num)
comp_num = int(comp_num)
#type(comp_num)

# Step 2: Compute the row and column number using // and % operators
row = comp_num // 9
print(row)

col = comp_num % 9
print(col)

# Step 3: Print the row number and column number 
print(f"The row number is {row} and col number is {col}")

Enter a computer number: 39
4
3
The row number is 4 and col number is 3

## Importing Modules

In [21]:
import math
print(math.pi)

3.141592653589793

# Programming Flow Control

## Logical expressions, and Comparison and Boolean operators

In [22]:
2+3 <8

True

In [23]:
4+5<2

False

In [24]:
2+3 == 5

True

In [25]:
(2+3 < 8) and (4+5<2)

False

In [26]:
(2+3 < 8) or (4+5<2)

True

In [27]:
not (4+5<2)

True

## Conditional Execution: if statement

Note the indentation after the if statement

In [29]:
name = input("Enter a name: ")
if name == 'Alice':
    print('Hi, Alice!')
    print('How are you doing?')

print('Thank You')

Enter a name: Alice
Hi, Alice!
How are you doing?
Thank You

## Conditional Execution: if else statement

In [30]:
name = input('Enter a name')
if name == 'Alice':
    print('Hi, Alice!')
else:
    print("No! You aren't Alice!")

Enter a nameSriram
No! You aren't Alice!

## Conditional Execution: if elif else statement

In [31]:
name = input('Enter a name')
if name == 'Alice':
    print('Hi, Alice!')
elif name =='Sam':
    print('Hi, Sam')
else:
    print("No! You aren't Alice or Sam!")

Enter a nameSriram
No! You aren't Alice or Sam!

## Practice #1

A supermarket sells apples for $2.50 per pound. Write a cashierâ€™s program that requests the number of pounds and the amount of cash tendered as input and displays the change from the transaction. 

Sample Interactions:

Enter number of pounds of apples: 6

Enter payment: 20

Your change is $5.00


Enter number of pounds of apples: 6

Enter payment: 10

I need $5.00 more.

In [44]:
#Step 1: Accepting the inputs and converting them appropriately
lbs = input("Enter the number of pounds of apples ")
lbs = float(lbs)

payment = input("Enter the payment: ")
payment = float(payment)

#Step 2: Calculate the change
price = lbs*2.5
change = payment - price

#print(change)

#Step 3: Conditional statement to print the output
if change>0:
    print(f"Your change is ${change:.2f}")
elif change<0:
    print(f"I need ${-1*change:.2f} more")
else:
    print("Thank you!")

Enter the number of pounds of apples 6.34
Enter the payment: 20
Your change is $4.15

## Fancy print statements

In [41]:
age = 23
height = 5.23623
print("The age is {0} and the height is {1:.2f}".format(age, height))

The age is 23 and the height is 5.24

In [42]:
age = 23
height = 5.23623
print("The age is {1} and the height is {0:.3f}".format(height, age))

The age is 23 and the height is 5.236

In [43]:
age = 23
height = 5.23623
print(f"The age is {age} and the height is {height:.2f}")

The age is 23 and the height is 5.24

## Practice #2

What are the conditions for a leap year? It should be multiple of 4 but not a multiple of 100

Write a program that takes the year number as input and outputs if it is leap year or not. 

Sample interactions:

Enter the year number? 2008

The year 2008 is a leap year 

Enter the year number? 1900

The year 1900 is a common year

In [5]:
year = input("Enter the year number ")
year = int(year)

if (year%4 == 0 ) and (year%100 != 0):
    print(f"The year {year} is a leap year")
else:
    print(f"The year {year} is common year")

Enter the year number 2020
The year 2020 is a leap year

**NOTE**: We coded simplified conditions for a leap year above.  If a year is a multiple of 400 it is still a leap year, even though it is a multiple of 100. For example, 2000 is a leap year as it is a multiple of 400. See if you can modify the above code to incorporate this additional condition.