# Python Fundamentals

## Converting Data Types

In [ ]:
number = '45'
type(number)

In [ ]:
number + 2

In [ ]:
number = int(number)

In [ ]:
type(number)

In [ ]:
number = int('23')

In [ ]:
number = input("Enter a number ")
number = float(number)

In [ ]:
number + 6

### Execution Bug (Divide by zero)

In [ ]:
x = 15
y = 10
x = x - y - 5
z = y/x

## Practice Exercise #4

Write a program to ask the computer number and output the row and column number

The computers are arranged follows in the classroom 


| Row/ Column | Column 0 | Column 1  | Column 2  | Column 3  | Column 4  | Column 5  | Column 6  | Column 7  | Column 8  |
|-------------|----------|----|----|----|----|----|----|----|----|
| Row 0       | 0        | 1  | 2  | 3  | 4  | 5  | 6  | 7  | 8  |
| Row 1       | 9        | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 |
| Row 2       | 18       | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 |
| Row 3       | 27       | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 |
| Row 4       | 36       | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 |

Hint: Use % (modulo or reminder) operator

In [ ]:
# Step 1: Accept the input and convert to integer

# Step 2: Compute the row and column number using // and % operators

# Step 3: Print the row number and column number

## Importing Modules

In [ ]:
import math
print(math.pi)

# Programming Flow Control

## Logical expressions, and Comparison and Boolean operators

In [ ]:
2+3 <8

In [ ]:
4+5<2

In [ ]:
2+3 == 5

In [ ]:
(2+3 < 8) and (4+5<2)

In [ ]:
(2+3 < 8) or (4+5<2)

In [ ]:
not (4+5<2)

## Conditional Execution: if statement

Note the indentation after the if statement

In [ ]:
name = input("Enter a name: ")
if name == 'Alice':
    print('Hi, Alice!')
    print('How are you doing?')

print('Thank You')

## Conditional Execution: if else statement

In [ ]:
name = input('Enter a name')
if name == 'Alice':
    print('Hi, Alice!')
else:
    print("No! You aren't Alice!")

## Conditional Execution: if elif else statement

In [ ]:
name = input('Enter a name')
if name == 'Alice':
    print('Hi, Alice!')
elif name =='Sam':
    print('Hi, Sam')
else:
    print("No! You aren't Alice or Sam!")

## Practice #1

A supermarket sells apples for $2.50 per pound. Write a cashierâ€™s program that requests the number of pounds and the amount of cash tendered as input and displays the change from the transaction. 

Sample Interactions:

Enter number of pounds of apples: 6

Enter payment: 20

Your change is $5.00


Enter number of pounds of apples: 6

Enter payment: 10

I need $5.00 more.

In [ ]:
#Step 1: Accepting the inputs and converting them appropriately

#Step 2: Calculate the change

#Step 3: Conditional statement to print the output

## Fancy print statements

In [ ]:
age = 23
height = 5.23623
print("The age is {0} and the height is {1:.2f}".format(age, height))

In [ ]:
age = 23
height = 5.23623
print("The age is {1} and the height is {0:.3f}".format(height, age))

In [ ]:
age = 23
height = 5.23623
print(f"The age is {age} and the height is {height:.2f}")

## Practice #2

What are the conditions for a leap year? It should be multiple of 4 but not a multiple of 100

Write a program that takes the year number as input and outputs if it is leap year or not. 

Sample interactions:

Enter the year number? 2008

The year 2008 is a leap year 

Enter the year number? 1900

The year 1900 is a common year

**NOTE**: We coded simplified conditions for a leap year above.  If a year is a multiple of 400 it is still a leap year, even though it is a multiple of 100. For example, 2000 is a leap year as it is a multiple of 400. See if you can modify the above code to incorporate this additional condition.