## Named Arguments: default values for arguments

In [2]:
def calc_summary(var1, var2, var3, calc_mean = True):
    if calc_mean:
        return (var1+var2+var3)/3
    else:
        return var1+var2+var3

summary = calc_summary(2, 3, 4, calc_mean=False)
print(summary)
summary = calc_summary(2, 3, 4)
print(summary)

9
3.0

## List: Practice

In [4]:
list_one = [10,20,30,40,50]

## List: Basics and Accessing

In [5]:
list_one[0]

10

In [6]:
list_one[0] = 5

In [7]:
list_one

[5, 20, 30, 40, 50]

### Negative index accessing

In [8]:
list_one[-1]

50

### List: Sublist - x[a:b] means give the list from index a (included) to index b (not included)

In [9]:
list_one[1:3]

[20, 30]

In [10]:
list_two = [10,20,30,40,50,60,70,80,90]

### List: Sublist - x[a:b:c] means give the list from index a (included) to index b (not included) with step increments in index by c

In [11]:
list_two[0:8:3]

[10, 40, 70]

### When the step size is negative - the list is accessed in the reverse order

In [12]:
list_two[::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [13]:
list_two[::-2]

[90, 70, 50, 30, 10]

## List Assignment happens by reference

In [14]:
var1 = 100
var2 = var1 # Assignment by value
var2 = var2 + 50
print(var1)

list1 = [1,2,3,4]
list1[2] = 100
list2 = list1 # Assignment by reference
print(list2)
list2[0] = 343
print(list1)

100
[1, 2, 100, 4]
[343, 2, 100, 4]

In [15]:
list1_n = [1,2,3,4]
list1_n[2] = 100
list2_n = list1_n[:] # Assignment by copying
print(list2_n)
list2_n[0] = 343
print(list1_n)

[1, 2, 100, 4]
[1, 2, 100, 4]

In [16]:
list_one = [10,20,30,40,50]
list_two = list_one

list_two[0] = 100
print(list_one)

[100, 20, 30, 40, 50]

## List sent as arguments to a function are also assigned by reference

In [17]:
def function_by_value(num_value):
    num_value = num_value + 1
    print(num_value)
    
number = 10
function_by_value(number)
print(number)

11
10

**You should observe that the value _number_ has not changed, but we observe what happens when a list is sent as an argument **

In [18]:
def function_by_reference(lis):
    lis[0] = 5
    
my_list = [1,2,3,4]
function_by_reference(my_list)
print(my_list)

[5, 2, 3, 4]

**We observe that `my_list` is sent to the function and gets modified within the function**

In [19]:
def function_by_reference(lis):
    lis[0] = 5
    
my_list = [1,2,3,4]
function_by_reference(my_list[:])
print(my_list)

[1, 2, 3, 4]

In the above case my_list outside the function is NOT modified

### Heterogeneous Lists
So far, all of the elements in our two lists were the same type. Integers in `list_one` and strings in `list_two`. But this is not a requirement in Python.  You can place any number of different data types in a single list. For example:

In [20]:
list_het = [True, "2", 3.0, 4]
print(type(list_het[0]))
print(type(list_het[1]))
print(type(list_het[2]))

<class 'bool'>
<class 'str'>
<class 'float'>

That's super flexible and pretty cool, but it does come at a performance cost.

We'll learn in the next few classes that Python List take up additional space and they are further become space _inefficient_ with these heterogeneous lists. 

For this reason, when dealing with large datasets heterogeneous lists are avoided.

In [21]:
list_of_list = [ [1,2,3], [4,5,6], [ 7, 8,9] ]

In [22]:
list_of_list[1]

[4, 5, 6]

In [24]:
list_of_list[2][0]

7

## Using List in a for Loop

In [25]:
for var in range(0,5):
    print(var)

0
1
2
3
4

In [26]:
my_list = [20,30,50, 100]
for x in my_list:
    print(x)

20
30
50
100

## Operations on List

* len()


* sum() 



* max()



* min()

In [27]:
lis = [1,2, 5, 2, 4,-2, 10]

In [28]:
len_list = len(lis)
print(len_list)

7

In [29]:
sum_list = sum(lis)
print(sum_list)

22

In [30]:
min_list = min(lis)
print(min_list)

-2

In [31]:
max_list = max(lis)
print(max_list)

10

## Practice List with for loop #1

Write a function that takes a list as input and returns the number of 0s in the list. Also, **assume the list contains only 1s and 0s**

Write a program that creates a sample list and prints the returned value of the above function. Verify if your function is working correctly.

For example
```python
lis = [1, 0, 1, 1, 0, 1, 0]
num_zeros = find_num_zeros(lis)
print(num_zeros)
```
The above program should print `3`

In [34]:
def find_num_zeros(lis):
    """
    Returns the number of 0s in the list
    """
    ## Write your code here
    ## TODO
    counter = 0
    for var in lis:
        if var == 0:
            counter = counter + 1
    
    return counter

In [35]:
lis = [1, 0, 1, 1, 0, 1, 0]
num_zeros = find_num_zeros(lis)
print(num_zeros)

3

In [36]:
len(lis)

7

In [37]:
sum(lis)

4

In [38]:
def find_num_zeros_quick(lis):
    """
    Returns the number of 0s in the list
    """
    ## Write your code here
    ## TODO
    return len(lis) - sum(lis)

In [40]:
lis = [1, 0, 1, 0, 0, 1, 0]
num_zeros = find_num_zeros_quick(lis)
print(num_zeros)

4

## List: append(), insert(), remove(), and sort()

In [41]:
lis = []
len(lis)

0

In [42]:
lis.append(1)
lis.append(2)
lis.append(8)
lis.append(9)

In [43]:
lis

[1, 2, 8, 9]

In [44]:
list.insert?

In [45]:
lis.insert(2,4)

lis

[1, 2, 4, 8, 9]

In [46]:
lis.append(15)
lis.append(9)
lis.remove(9)
lis

[1, 2, 4, 8, 15, 9]

In [47]:
lis.sort()
print(lis)

[1, 2, 4, 8, 9, 15]

## List with 'in' operator

In [48]:
my_list = ['I', 'Love', 'Python']
'i' in my_list

False

In [49]:
'Love' in my_list

True

## Practice list appending and 'in' operations

Ask a user to enter 5 words and use a list to save all words. Further, verify if there are words 'I', 'Love', 'Python' in them.

1. Create an empty list
2. Use append() function to keep appending to the list
3. Veify if the list contained _ALL_ of the words 'I', 'Love', 'Python'

#### Contains _ALL_ of the words 'I', 'Love', 'Python'

In [52]:
# Step 1: Already done for you
practicelist = []

# Step 2: Accept 5 words
for it in range(5):
    elem = input("Enter a word: ")
    practicelist.append(elem)

# Step 3: Verify if it contains ALL of the words I, Love, Python
if ('I' in practicelist) and ('Love' in practicelist) and ('Python' in practicelist):
    print("Thank you, you love Python!")
else:
    print("You do not love Python :(")

Enter a word: I
Enter a word: Love
Enter a word: R
Enter a word: Sorry
Enter a word: I really do
You do not love Python :(

In [53]:
practicelist

['I', 'Love', 'R', 'Sorry', 'I really do']

## Practice List with for loop #2 

Write a function that takes a list as input and returns the sum of squared values of each element in the list. 

Further, write a program that creates a sample list and prints the returned value of the above function. Verify if your function is working correctly.

In [ ]:
def sum_square(lis):
    """
    Returns the sum of squares of all elements in the list
    """
    ## WRITE YOUR CODE HERE

In [ ]:
lis= [2,4,5,6]
print(sum_square(lis))